/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */


/* * is a wildcard referring to all elements. */
*  { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 35px;
    font-family: Montserrat, sans-serif;
    color: #47847e;
}


h1 {
    font-size: 2.4rem;
    color: rgb(194, 146, 105);
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 650px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(33, 32, 61);
    color: whitesmoke;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: smaller1.6rem;
}
