@media screen and (min-width: 901px) {

    header,
    main,
    nav,
    footer {
        margin: 1.25rem auto;

        max-width: 1200px;
    }

    .shadow:hover {
        box-shadow: 0 0 50px rgb(49, 46, 58);
    }

    #hamburgerMenu {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    /* .container {
        flex-direction: row;
    } */
    #gallery-rows {
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }

    .flex {
        flex-direction: row;
    }

    header h1 {
        margin-top: 5%;
    }

    header h2 {
        margin-top: 5%;
        margin-left: 2%;
    }

    .hide {
        display: block;
    }

    form label.sbs {
        padding: .1rem 0;

    }

    #section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 60px;
    }

    #stormCenterImg {
        display: flex;
    }

}