@media screen and (min-width: 551px) {

    /* * {margin:0;} */
    .flex {
        display: flex;
        flex-direction: row;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
    }

    .logo {
        margin: 1.25rem -4.5rem 1.25rem;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #hamburgerMenu {
        display: none;
    }

    .hide {
        display: block;
    }

    #gallery-rows {
        display: grid;
        /* width: 100%; */
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    /* .weathersummary, .forecast {
        display: none;
    } */
}