@media screen and (min-width: 551px) {

    /* * {margin:0;} */
    .flex {
        display: flex;
        flex-direction: row;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
    }


    header h1 { font-size: 2.5rem;}
    .address {
        display: flex;
        justify-content: space-around;
        text-align: center;
       
    }

    .logo {
        margin: 1.25rem -4.5rem 1.25rem;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #hamburgerMenu {
        display: none;
    }

    .hide {
        display: block;
    }
    .grid > div {
        border: 2px solid #4ba3c7;
        border-radius: 5px;
        
        padding: 1em;
        
    
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-row-gap: 1em;
      grid-column-gap: 1em;
    }
   
    
    #gallery-rows {
        display: grid;
        /* width: 100%; */
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }


}