* {
    -moz-boz-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    line-height: 33px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: black;
}

body {
    display: block;
    margin: 0;
}

h1,
h3,
h2,
h4,
h5,
h6 {

    font-family: 'Alex Brush', cursive;
}

header {
    margin: 0;
    padding: 1rem 2%;
    background-color: #4ba3c7;
    /* font-size: .8rem; */
    height: 110px;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: 1rem;
    font-family: 'Arimo', sans-serif;
}

header img {
    margin-right: 5rem;
    height: 5rem;
}

nav {
    margin: -1.25em auto 1.25em !important;
    padding: 0 2%;
    background-color: #b6ffff;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 20px;
}

nav ul li.active a {
    background-color: #babdbe;
    border-radius: 20px;
    color: #b6ffff;
}

a:hover {
    background-color: #FAA781;
    color: black;
    border-radius: 20px;
}

.flex {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    color: black;
}
header .logo {
    margin: 0 -4.25rem -3rem 0;
}

@media (max-width: 550px) {
    .hide {
        display: none;
    }

    nav {
        background-color: #b6ffff;
    }

    #hamburgerMenu {
        display: block;
    }

    .weathersummary {
        display: none;
    }

    #gallery-rows {
        display: grid;
        grid-template-row: auto;
    }

    #stormCenterImg {
        display: none;
    }
}