/* * {
    margin: 10px;
    box-sizing: border-box;
} */

body {
    background-color: rgb(138, 136, 136);
    line-height: 33px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: white;
}

body {
    display: block;
    margin: 0;
}

h1, h2, h4, h5, h6 {
    color: white;
    font-family: 'Prosto One', cursive;
}

h3 {
    font-family: 'Prosto One', cursive;
    color: black;
}

p {
    font-size: 1.5em;
    padding: 5px;
}

header {
    margin: 0;
    padding: 0 2%;
    background-color: #ffb74d;
    font-family: 'Muli', sans-serif;
    font-size: .8rem;
    height: 125px;
}

header img {
    margin-right: 5rem;
    height: 5rem;
}



#sec1, #sec2, #thankyou, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#section article {
    color: white;
    border: 12px solid whitesmoke;
    border-style: ridge;
    background-color: #41413e;
    text-align: center;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

}

#section {
    display: grid;
    grid-template-columns: 1fr;
    }

#section article p:first-of-type {
    font-style: italic;
}

#section article p {
    padding: 0px 16px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#section article img {
    width: 100%;
    padding-top: 40px;
    margin-bottom: -1px;
}

/* class selectors */

.herodiv {
    position: relative;
    margin: 1.2rem auto;
    max-width: 1200px;
    
}

.weathersummary {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(rgb(200, 135, 25), #333332);
    border: 1px solid #000;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 30px #fff;
}


.flex {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    color: black;
}

.logo {
    margin: 1.25rem -4.5rem 1.25rem .2rem;
}

.leftcol, .rightcol {
    /* max-width: 48%; */
    flex: 1 0 15em;
    padding: 10px;
}


.img1, .img2 {
    width: 100%;
}
nav {
    margin: -1.25em auto 1.25em !important;
    padding: 0 2%;
    background-color: #ffe97d;
    /* display: flex; */
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
}
ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 20px;
}

nav ul li.active a {
    background-color: #c88719;
    border-radius: 20px;
    color: black;
}

a:hover {
    background-color: #f8f2f2;
    color: black;
    border-radius: 20px;
}


footer {
    background-color: #ffe97d;
    padding: .5rem 2%;
    text-align: center;
    color: black;
    font-size: .7rem;
}

footer a, footer a:visited {
    color: #c88719;
    text-decoration: none;
}

footer a:hover, footer a:active {
    color: rgb(110, 92, 85);
}

main {
    clear: left;
    max-width: 820px;
    margin-top: 25px;
    margin: auto;
    padding: 0px 15px;
}

figure {
    margin: 25px 0 10px 0;
    width: 100%;
}

figure img {
    width: 100%;
}

figcaption {
    margin-left: 28px;
}

iframe {
    width: 100%;
    height: 300px;
}

table, th, td {
    border: 1px solid slategray;
    border-collapse: collapse;
}

td {
    background-color: #ffe97d;
    text-align: center;
    color: black;
}

th {
    background-color: #ffb74d;
    color: black;
}

table {
    margin: 0 auto;
}


/*gallery*/

#gallery-rows {
    display: grid;
    
}
#contianer #gallery-rows img {
height: 325px;
}

#stormCenterImg {
    display: block;
    float: right;
    width: 50%;
    margin: 10% 2%;
}

/* FORM */

form fieldset {
    margin: 2rem 0;
    border: none;
    /* border-radius: 10px; */
    padding: .5rem 2%;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    border-radius: .7rem;
    background-color: #c88719;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: white;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: #ffe97d;
}

textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: #ffe97d;
}

form label.sbs {
    display: block;
    padding: .60rem 0;
    color: white;
}

form input.submitBtn {
    border: none;
    background-color: #c88719;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

input:required:focus {
    border: 2px solid red;
    outline: none;
}

.img1, .img2 {
    height: 400px;
}

/* small views */

@media (max-width: 550px) {
    .hide {
        display: none;
    }
    nav {
        background-color: #ffe97d;
    }
    #hamburgerMenu {
        display: block;
    }
    .weathersummary {
        display: none;
    }
    #gallery-rows {
        display: grid;
        grid-template-row: auto;
    }
    #stormCenterImg {
        display: none;
    }
}