@media screen and (min-width: 801px) {
      /* * {margin:0;} */
    .shadow:hover {
        box-shadow: 0 0 50px rgb(126, 125, 128);
    }
    #hamburgerMenu {
        display: none;
    }
    #menu {
        display: flex;
        flex-direction: row;
    }
    /* .container {
        flex-direction: row;
    } */
    .gallery-rows {
        grid-template-columns: auto auto auto;
    }
    .flex {
        flex-direction: row;
    }
    header h1 {
        margin-top: 5%;
    }
    header h2 {
        margin-top: 5%;
        margin-left: 2%;
    }
    .hide {
        display: block;
    }
    form label.sbs {
        padding: .4rem 0;
        
    }
}