/* * {
    margin: 10px;
    box-sizing: border-box;
} */

body {
    background-color: black;
    line-height: 33px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: white;
}

body {
    display: block;
    margin: 0;
}

h1, h2, h4, h5, h6 {
    color: white;
    font-family: 'Prosto One', cursive;
}
h3 { font-family: 'Prosto One', cursive; color:black; }

p {
    font-size: 1.5em;
    padding: 5px;
}

header {
    margin: 0;
    padding: 0 2%;
    background-color: #ffb74d;
    /* box-shadow: 0 0 30px #777; */
    font-family: 'Muli', sans-serif;
    font-size: .8rem;
    height: 125px;
}

header img {
    margin-right: 5rem;
    height: 5rem;
}

#section article {
    color: white;
    border: 12px solid whitesmoke;
    border-style: ridge;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 20px;
}

#section {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column-gap: 10px; */
    
}
#section article p:first-of-type {
    font-style: italic;
}
#section article p {
    padding: 0px 16px;
    margin-block-start: 0;
    margin-block-end: 0;
}
#section article img {
    width: 100%;
    padding-top: 40px;
    vertical-align: bottom;
}

/* class selectors */

.herodiv {
    position: relative;
    /* min-height: 200px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; */
    margin: 1.2rem auto;
    max-width: 1200px;
}

.weathersummary {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(rgb(200, 135, 25), #333332);
    border: 1px solid #000;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 30px #fff;
}

nav {
    margin: -1.25em auto 1.25em !important;
    padding: 0 2%;
    background-color: #ffe97d;
    /* display: flex; */
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 20px;
}

nav ul li.active a {
    background-color: #c88719;
    border-radius: 20px;
    color: black;
}

a:hover {
    background-color: #f8f2f2;
    color: black;
    border-radius: 20px;
}

footer iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
   
}

footer {
    background-color: #ffe97d;
    padding: .5rem 2%;
    text-align: center;
    color: black;
}

main {
    clear: left;
    max-width: 820px;
    margin-top: 25px;
    margin: auto;
    padding: 0px 15px;
}

figure {
    margin: 25px 0 10px 0;
    width: 100%;
}

figure img {
    width: 100%;
}

figcaption {
    margin-left: 28px;
}

iframe {
    width: 100%;
    height: 300px;
}

/* class selectors*/

.flex {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    color: black;
}

.logo {
    margin: 1.25rem -4.5rem 1.25rem .2rem;
}

/*gallery*/

.gallery-rows {
    display: grid;
}

#stormCenterImg {
    display: block;
    float: right;
    width: 50%;
    margin: 10% 2%;
}

/* FORM */

form fieldset {
    margin: 2rem 0;
    border: none;
    /* border-radius: 10px; */
    padding: .5rem 2%;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    border-radius: .7rem;
    background-color: #c88719;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: white;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: #ffe97d;
}

textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: #ffe97d;
}

form label.sbs {
    display: block;
    padding: .60rem 0;
    color: white;
}

form input.submitBtn {
    border: none;
    background-color: #c88719;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

input:required:focus {
    border: 2px solid red;
    outline: none;
}

/* small views */

/* @media (max-width: 550px) { */
    .hide {
        display: none;
    }
    nav {
        /* max-width: 69rem; */
        /* margin: .5rem auto; */
        background-color: #ffb74d;
    }
    #hamburgerMenu {
        display: block;
    }
    .weathersummary, .forecast {
        display: none;
    }
    .gallery-rows {
        display: grid;
        grid-template-row: auto;
     
    }
    #stormCenterImg {
        display: none;
    }
/* } */