* {
	-moz-boz-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body {
	background-color: #ffffff;
	line-height: 33px;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	color: black
}
body {
	display: block;
	margin: 0
}
h1, h3, h2, h4, h5, h6 {
	font-family: 'Alex Brush', cursive
}
header {
	margin: 0;
	padding: 1rem 2%;
	background-color: #81d4fa;;
	height: 110px
}
header h1 {
	font-size: 1.5rem;
	margin: 0
}
header h2 {
	font-size: .8rem;
	font-family: 'Arimo', sans-serif
}
header img {
	margin-right: 5rem;
	height: 4rem
}
header .logo {
	margin: 0 -4.25rem -3rem 0
}


nav {
	margin: -1.25em auto 1.25em !important;
	padding: 0 2%;
	background-color: #b6ffff
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column
}
a {
	text-decoration: none;
	color: black;
	padding: 1rem
}
#attribution a {
	color: black
}
ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
	border-radius: 20px
}
nav ul li.active a {
	background-color: #4ba3c7;
	border-radius: 20px;
	color: #b6ffff
}
a:hover {
	background-color: #FAA781;
	color: black;
	border-radius: 20px
}
main {
	clear: left;
	max-width: 820px;
	margin-top: 25px;
	margin: auto;
	padding: 0px 15px
}
figure {
	margin: 10px 0 10px 0;
	width: 100%
}
section div figure img {
	width: 100%;
	height: auto
}
figcaption {
	margin-left: 10px
}
.leftcol, .rightcol {
	
	flex: 1 0 15em;
	padding: 20px
}
.leftcol {
	text-align: right
}
.sec1, .sec2, #thankyou, footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 10px
}
.herodiv {
	position: relative;
	margin: 1.2rem auto;
	max-width: 1200px
}
.mainCallToAction {
	background-color: rgb(202, 128, 98);
	border: none;
	color: white;
	padding: 16px 32px;
	border: none;
	border-radius: 3em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	display: block;
	max-width: 300px;
	margin: auto
}
.buttoncta {
	position: absolute;
	top: 90px;
	right: 90px;
	background: radial-gradient(#C76E4B, #FAA781);
	border: none;
	border-radius: 3em;
	color: white;
	padding: 1rem;
	box-shadow: 0 0 30px #fff;
	font-size: 20px
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px
}
.social {
	display: flex;
	justify-content: center
}
.innerSocial .fab {
	margin: 0 20px;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.5s ease
}
.innerAddress p {
	font-size: 15px
}
.innerAddress .fas {
	font-size: 30px;
	margin-bottom: 10px
}
.wrapper {
	max-width: 800px;
	margin: 50px auto;
	background: #81d4fa;
	box-sizing: border-box;
	padding: 80px;
	box-shadow: 0 0 5px rgba(209, 46, 46, 0.5)
}
figure .roseimg {
	width: 600px;
}
footer {
	background-color: #babdbe;
	padding: .5rem 2%;
	color: black;
	font-size: .9rem
}
footer .logo {
	margin: 1rem .25rem 1rem 1rem;
}
footer h1 {
	margin: 0
}
footer a, footer a:visited {
	color: black
}
footer a:hover, footer a:active {
	background-color: #FAA781;
	border-radius: 15px
}
.flex {
	display: flex;
	flex-flow: nowrap;
	color: black
}
section article {
	width: 33%;
	float: left
}
section p {
	margin: 5px 0
}
section ul {
	margin-top: 0
}
h2 {
	font-size: 2.5rem;
	margin-bottom: 10px
}
.flexContainer {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap
}
main div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	width: 400px;
	height: 400px
}
.img1, .img2 {
	width: 450px;
	height: 300px;
	border-radius: 5px
}
#amenitiesList {
	margin: auto;
	width: 50%;
	padding: 10px
}
main div h1 {
	text-align: center
}
#templeRes {
	display: block;
	float: right;
	width: 50%;
	margin: 10% 2%
}

form fieldset {
	margin: 2rem 0;
	border: none;
	padding: .5rem 2%
}
form legend {
	color: black;
	margin: 0 1rem;
	padding: 0 .5rem;
	font-size: 1.5rem;
	border-radius: .7rem;
	background-color: #81d4fa
}
form label.top, form div {
	display: block;
	padding-top: 1rem;
	font-size: 1rem
}
form label.top input, form label.top select {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: black;
	width: 100%;
	max-width: 20rem;
	background-color: #eceff1
}
textarea {
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: black;
	width: 100%;
	max-width: 20rem;
	background-color: #ececec
}
form label.sbs {
	display: block;
	padding: .60rem 0
}
form input.submitBtn {
	border: none;
	background-color: #babdbe;
	color: black;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem
}
input:required:focus {
	border: 4px solid red;
	outline: none;
	flex-grow: 2
}
.img1, .img2 {
	height: 400px
}
@media (max-width: 550px) {
	.hide {
	display: none
	}
	nav {
	background-color: #b6ffff
	}
	#hamburgerMenu {
	display: block
	}
	.buttoncta {
	top: 10px;
	right: 10px
	}
}
