html {
    font-family: 'Ubuntu', sans-serif;
}

table {
    margin: 0 auto;
    border: 2px solid darkgrey;
    font-size: 1.2em;
    box-shadow: 10px 10px 10px -1px #628ca6;
}

#goalmet {
    background-color: #628ca6;
    color: white;
}

td, th {
    padding: 10px 20px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

thead>tr>th {
    background-color: #7fb9c2;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

tbody>tr>th {
    background-color: #628ca6;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

tfoot>tr>td {
    background-color: #7fb9c2;
    font-size: 80%;
}