/* html selectors */

* {
    margin: 10px;
    box-sizing: border-box;
}

body {
    background-color: #758497;
    line-height: 35px;
    font-family: Montserrat, sans-serif;
    color: #eae7ae;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Lora', serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

p {
    font-size: 1em
}

header {
    margin: 10px auto;
    background-color: #c6bc8d;
    border: 1px solid #758497;
    box-shadow: 0 0 30px #777;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

header img {
    height: 150px;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

a:hover, a:active {
    background-color: #eae7ae;
    border-radius: 20px;
    color: black;
}

/* class selectors */

.motto {
    font-family: Montserrat, sans-serif;
    border-radius: .2px;
    font-size: 16pt;
    background-color: #9c8565;
}

footer iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    clear: left;
    max-width: 820px;
    margin-top: 25px;
    margin: auto;
}

.herodiv {
    position: relative;
    background-image: url("../images/PrestonOverview.jpg");
    /* background-repeat: no-repeat;  */
    min-height: 200px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.weathersummary {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(rgb(114, 111, 111), #9c8565);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #fff;
}

.active-preston {
    background-color: #9c8565;
    border-radius: 18px;
}

/* Remove list bullets */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #abcde2;
}

li {
    float: none;
    border-right: 1px solid #bbb;
}

/* id selectors */

@media screen and (max-width: 500px) {
    .forecast {
        display: none;
    }
    .menu {
        display: inline;
    }
    .nav {
        display: none;
    }
}