
@media screen and (min-width: 451px) and (max-width:1000px) {
.gallery-rows {
    
    grid-template-columns: auto auto;
}
.flex {
    display: flex;
    flex-direction: row;

}
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}