/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */


/* * is a wildcard referring to all elements. */
*  { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 35px;
    font-family: Montserrat, sans-serif;
    color: black;
    /* background-color: #ffd0b0; */
}
a:link{
color: black;
}
a:visited{
color: darkgrey;
}
a:hover{
    background-color: #c96f53;
    color: black;
    border-radius: 5px;
}

h1 {
    font-size: 2.4rem;
    color: black;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: 1px solid #FF9E80;
}

header, main, section, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 650px;
    
}

header, footer, footer a {
    text-align: center;
    background-color: #c96f53;
    color: black;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;
}

